@model VisiTrack.Models.ViewModel.AdminDashboardViewModel

@{
    ViewBag.Title = "Dashboard page";
}


<div>
    <h3>Visitor Management System - Admin Dashboard</h3>
    <hr />
    <h3 class="m-4 mt-5">• Overview</h3>
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card bg-light p-3 shadow">
                <h5>Total Visitors Today</h5>
                <p>@Model.TotalVisitorsToday</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 bg-light shadow">
                <h5>Currently Checked In</h5>
                <p>@Model.CurrentlyCheckedIn</p>
            </div>
        </div>
    </div>

    <h3 class="m-4">• Quick Actions</h3>
    <div class="row">
        <div class="col-md-3">
            <a asp-action="Visits" asp-controller="Admin" class="btn btn-success w-100 mb-2">View All Visits</a>
        </div>
        <div class="col-md-3">
            <a asp-action="TodayReport" asp-controller="Admin" class="btn btn-primary w-100 mb-2">Daily Report</a>
        </div>
        <div class="col-md-3">
            <a asp-action="Report" asp-controller="Admin" class="btn btn-danger w-100 mb-2">Custom Report</a>
        </div>
       
     
    </div>

</div>
