@model VisiTrack.Models.Host

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Host</h4>
<hr />


        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <input type="hidden" asp-for="HostID" />

            <div class="mb-3 row">
                <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Department" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="ContactNumber" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="ContactNumber" class="form-control" />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-2 row">
                <div class="offset-sm-2 col-sm-4">
                    <input type="submit" value="Save" class="btn btn-primary w-100" />
                </div>
            </div>

        </form>
 

<div class="row">
       <div class="col-sm-6" >
            <a asp-action="Index" class="float-end">Back to List</a>
       </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
